/* inline-block */

/* div {
  height: 200px;
  width: 200px;
  background-color: lightblue;
  border: 5px solid black;
  margin: 5px;
  display: inline-block;
} */

h1{
  width: 50%;
  border: 2px solid black;
}

#outer {
  height: 400px;
  width: 400px;
  background-color: lightgreen;
  border: 5px solid black;
  margin : 50px;
} 

#inner {
  height: 100px;
  width: 100px;
  background-color: lightcoral;
  border: 5px solid black;
  margin-left: 10%;}