* {
    font-family: "Courier New";
}

h1, h3{
  color: #b92b27;
}

#login {
  background-color: white;
}

#signup {
  background-color: rgb(176, 108, 108);
  color: white;
}

.upvote {
  background-color: #4CAF50;
  color: white;
}

/* descendant selectors */

/* p a {
  text-decoration: none;
  color: purple;
  background-color: yellow;
} */

.Post a {
  text-decoration: none;
  color: purple;
  background-color: yellow;
}

/* nav ul li a  {
  color: hotpink;
} */

nav a  {
  color: hotpink;
}

p + h3 {
  text-decoration: underline;
}

.upvote + button {
  background-color: orange;
  color: white;
}

div > input {
background-color: darksalmon;
}

input[type="text"] {
  color: green;
}

input[type="password"] {
  color: red;
}

input[type] {
  background-color: ghostwhite;
}

/* #myId p{
  color: #008000;
} */

div[id="myId"] p{
  color: #800080;
}

button:hover {
  background-color: rgb(2, 12, 15);
  color: white;
}

button:active {
  background-color: yellow;
  color: black;
}

h3:hover {
  text-decoration: overline;
}

p:active {
  font-weight: bold;
  color: #4CAF50;
}

input[type="radio"]:checked + label {
  font-weight: bold;
  color: darkblue;
}

div:nth-of-type(2n) {
  background-color: lightgray;
}

h1::first-letter{
  /* background-color: yellow; */
  color: rosybrown;
}

p::selection {
  background-color: black;
  color: white;
}