.traffic-light {
  height: 200px;
  width: 70px;
  border: 2px solid black;
}

div[id="red"] {
  height: 50px;
  width: 50px;
  background-color: red; 
  border: 2px solid black;
  margin: 10px;
  border-radius: 50%;
}

div[id="yellow"] {
  height: 50px;
  width: 50px;
  background-color: yellow;
  margin: 10px;
  border: 2px solid black;
  border-radius: 50%;
}

div[id="green"] {
  height: 50px;
  width: 50px;
  background-color: green;
  margin: 10px;
  border: 2px solid black;
  border-radius: 50%;
}