.smiley {
  height: 400px;
  width: 400px;
  border-radius: 50%;
  background-color: rgb(223, 125, 26);
}

.eye-left {
  background-color: black;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  position: absolute;
  top: 100px;
  left: 100px;
}

.eye-right {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: black;
  position: absolute;
  top: 100px;
  left: 270px;
}

.mouth {
  width: 200px;
  height: 75px;
  background-color:brown ;
  border-radius: 0 0 50px 50px;
  position: absolute;
  top: 250px;
  left: 100px;
}

