section{
  margin-top: 100px;
}

div {
  width: 200px;
  height: 50px;
  text-align: center;
  background-color: lightblue;
  margin: 10px auto;
  border: 2px solid black;
}

div:nth-of-type(2n) {
  background-color: lightsalmon;
}

div:nth-of-type(3n) {
background-color: lime;
}

/* transform */

#one {
  transform: rotate(45deg);
} 

#two {
  transform: scale(0.5);
}

#three{
  transform: translateX(-100px);
  box-shadow: 2px 2px 10px grey;
}

#four {
  transform: skew(20deg, 10deg);
}

#five {
  transform: rotate(30deg) translate(20px) scale(0.5);
}

#image-bg {
  width: 300px;
  height: 200px;
  background-image: url(image.png);
  /* background-size: auto; */
  /* background-size: contain; */
  background-size: cover;
  background-position: center;
  margin: 20px auto;
}

