section{
  margin-top: 100px;
}

div {
  width: 200px;
  height: 50px;
  text-align: center;
  background-color: lightblue;
  margin: 10px;
  border: 2px solid black;
}

div:nth-of-type(2n) {
  background-color: lightsalmon;
}

div:nth-of-type(3n) {
background-color: lime;
}

/* transform */

#one {
  transform: rotate(45deg);
} 

#two {
  transform: scale(1.5);
}