.card {
  height: 200px;
  width: 200px;
  border: 5px solid rgb(222, 147, 147);
  display: inline-block;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 2px 2px 15px grey;
  transition: 2s;
}

.container {
  padding: 0 2px 0 2px;
} 

img {
  width: 100%;
  border-radius: 5px 5px 0 0;
}

.card:hover {
  box-shadow: 4px 4px 20px yellow;
}